body {
  padding: 0;
  margin: 0;
}
.background{
  justify-content: flex-start;
	background: linear-gradient(rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.75)),url(images/bac.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.App {
  width: 100vw;
  height: 100vh;
  display: table;
  justify-content: center;
  align-items: center;
}

.hd1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 23px;
  color:cyan;
  font-style: italic;
  font-family:cursive;
}


.Ls{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Head{
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  color:cyan;
  font-style: italic;
  font-family:cursive;
}

.back{
  margin-top: 2%;
  margin-right: 205px ;
}

.login,
.signUp{
  display: flex;
  flex-direction:column;
  /* margin-left: 30px; */
  margin-top:2%;
}

.login input,
.signUp input,
.joinGame input {
  margin: 7px;
  padding: 5px;
  border: 2px solid #41aae7;
  border-radius: 10px;
  width: 280px;
  height: 28px;
  background-color:transparent;
  color:rgb(63, 221, 42);
}

.login input:focus,
.signUp input:focus,
.joinGame input:focus{
    border: 2px solid #41aae7;
    outline-offset: 0px;
    outline: none;
    background-color:transparent;
}

.login button,
.signUp button,
.back button{
  background-color: #15c8d4;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.863) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color:#000000;
  cursor: pointer;
  display:block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight:900;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 110px;
  height: 38px;
  font-style: italic;
  font-family:cursive;
}

.joinGame button,
.lgo button{
  margin-top: 3%;
  background-color: #15c8d4;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.863) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color:#0f0118;
  cursor: pointer;
  display:block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight:900;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 110px;
  height: 38px;
  font-style: italic;
  font-family:cursive;
}

 .login button:hover,
.signUp button:hover,
.lgo button:hover,  
.joinGame button:hover,
.back button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.login label,
.signUp label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(11, 196, 36);
  font-style: italic;
  font-family:cursive;
}

.board {
  width: 350px;
  height: 350px;
  background-color: rgb(59, 59, 59);
  border: 3px solid rgb(48, 14, 202);
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 3px solid rgb(31, 61, 235);
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 90px;
  color: rgb(212, 11, 162);
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

/* .joinGame input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 30px;
}
.joinGame button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 51px;
  cursor: pointer;
} */

