body {
  padding: 0;
  margin: 0;
  overflow-y: auto;   /* Enable vertical scrolling */
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: 3px;
}
/* .background{
  justify-content: flex-start;
	background: linear-gradient(rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.75)),url(images/bac.jpg) no-repeat;
  background-size: cover;
	background-position: center;
  overflow-y: auto; 
} */
.App {
  width: 100vw;
  height: 100vh;
  display: table;
  justify-content: center;
  align-items: center;
}

.hd1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  color:cyan;
  font-style: italic;
  font-family:cursive;
}


.Ls{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.Head{
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  color:cyan;
  font-style: italic;
  font-family:cursive;
}

.back{
  margin-top: 2%;
  /* margin-right: 197px ; */
  align-items: center;
}

.login,
.signUp{
  display: flex;
  flex-direction:column;
  /* margin-left: 30px; */
  margin-top:3%;
  align-items: center;
}

.login input,
.signUp input,
.joinGame input {
  margin: 7px;
  padding: 5px;
  border: 1px solid #41aae7;
  border-radius: 10px;
  width: 280px;
  height: 28px;
  background-color:transparent;
  color:rgb(63, 221, 42);
}

.login input:focus,
.signUp input:focus,
.joinGame input:focus{
    border: 1px solid #41aae7;
    outline-offset: 0px;
    outline: none;
    background-color:transparent;
}

.login button,
.signUp button,
.back button{
  background-color:transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.863) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color:#21c7dd;
  cursor: pointer;
  display:block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight:900;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 110px;
  height: 38px;
  font-style: italic;
  font-family:cursive;
  margin-top: 2%;
}

.joinGame button,
.lgo button{
  margin-top: 5%;
  background-color:transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.863) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color:#21c1dd;
  cursor: pointer;
  display:block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight:900;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  height: 38px;
  font-style: italic;
  font-family:cursive;
}

 .login button:hover,
.signUp button:hover,
.lgo button:hover,  
.joinGame button:hover,
.back button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.login label,
.signUp label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(11, 196, 36);
  font-style: italic;
  font-family:cursive;
}

.board {
  width: 345px;
  height: 345px;
  background-color:transparent;
  /* border: 3px solid rgb(48, 14, 202); */
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0, 255, 255) 0px 2px 6px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1.5px solid #1ac6e4;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 90px;
  /* color: rgb(212, 11, 11); */
  font-family:Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

/* .joinGame input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 30px;
}
.joinGame button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 51px;
  cursor: pointer;
} */


.signing-up-message, .logging-in-message{
  margin-top: 8px;
  font-weight: bold;
  color: #348be7;
  padding: 10px;
  width: 80%;
  background: transparent; 
  border: 1px solid rgb(16, 102, 233);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  align-items: center;
}


.error-message-box {
  padding: 10px;
  margin-top: 8px;
  width: 80%;
  background: rgba(255, 0, 0, 0.2); 
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  align-items: center;
}


.dots::after {
  content: '';
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 10% {
    content: '.';
  }
  20%, 40% {
    content: '..';
  }
  50%, 70% {
    content: '...';
  }
  80%, 100% {
    content: '....';
  }
}


button:disabled {
  cursor: not-allowed;
}

.gameContainer{
    margin-top: 0%;
}


.joinGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.game-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add any other styles for game controls */
}

.users-list-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.users-list {
  width: 100%;
  border: 1px solid cyan;
  border-radius: 2px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: cyan transparent;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.users-list::-webkit-scrollbar {
  width: 8px;
}

.users-list::-webkit-scrollbar-track {
  background: transparent;
}

.users-list::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-radius: 4px;
}

.user-item {
  height: 30px;
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: transparent;
  color: cyan;
  font-size: 16px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 825px) {
  .users-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .joinGame{
    width: 70%;
  }

  .users-list-container {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

/* @media (max-width: 1024px) {
  .users-list {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .joinGame{
    width: 60%;
  }
} */


.users-list-header {
  color: cyan;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid cyan; */
}

.online-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online-indicator.online {
  background-color: #00ff00; /* Bright green for online users */
}

.online-indicator.offline {
  background-color: #808080; /* Gray for offline users */
}

.online-indicator.waiting {
  background-color: #b90d0d; /* Gray for offline users */
}

.user-name {
  flex-grow: 1;
  /* ... any other styles you want for the username ... */
}

.waiting-symbol {
  margin-left: 5px;
  font-size: 20px;
}