body {
    padding: 0;
    margin: 0;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    scrollbar-width: 3px;
  }
.background{
  justify-content: flex-start;
	background: linear-gradient(rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.75)),url(images/bac.jpg) no-repeat;
  background-size: cover;
	background-position: center;
  overflow-y: auto; 
}
.Home {
    width: 100vw;
    height: 100vh;
    display:table;
    justify-content: center;
    align-items: center;
  }

  .Home h1{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color:rgb(0, 255, 255);
    margin-top: 5%;
    font-style: italic;
    font-family:cursive;
  }

  .gifi{
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .gifi img{
     border: 1px solid rgb(0, 255, 255);
  }

  .play1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .play1 button{
    background-color:transparent;
    border-radius: 100px;
    box-shadow: rgba(14, 24, 116, 0.863) 0 -25px 18px -14px inset,rgba(214, 40, 200, 0.952) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(230, 28, 28);
    cursor: pointer;
    display:block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    font-weight: 900;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    height: 50px;
    font-style: italic;
    font-family:cursive;
  }
  
  .play1 button:hover {
    box-shadow: rgba(0, 0, 0, 0.815) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .copy{
    text-align: center;
    font-weight:lighter;
    font-size: 15px;
    color: rgb(23, 221, 66);
    position:relative;
    margin-top: 0.3%;
  }

  .copy img{
    margin-top: 10%;
  }

.copy p{
  margin-top: 0%;
  font-style: italic;
  font-weight: 400;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  
