body {
    padding: 0;
    margin: 0;
  }
.Home {
    width: 100vw;
    height: 100vh;
    display:table;
    justify-content: center;
    align-items: center;
    /* background-color: #000000; */
    background: linear-gradient(rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.562)),url(images/bac.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  .Home h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(15, 177, 218);
    margin-top: 5%;
  }

  .gifi,
  .playericon{
    align-items: center;
    text-align: center;
    justify-content: center;
  }


  .play1{
    color: rgb(40, 201, 35);
    display: flex;
    flex-direction: column;
    font-size:20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .play1 button{
    background-color: #15c8d4;
    border-radius: 100px;
    box-shadow: rgba(37, 1, 37, 0.863) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(230, 28, 28);
    cursor: pointer;
    display:block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
  }
  
  .play1 button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .copy{
    text-align: center;
    font-weight:lighter;
    font-size: 15px;
    color: rgb(23, 221, 66);
    position:relative;
    margin-top: 5%;
  }




  