body {
    padding: 0;
    margin: 0;
  }
.Home {
    width: 100%;
    height: 100vh;
    display:table;
    justify-content: center;
    align-items: center;
    background-color: #0f0118;
  }
  .play1{
    height:50%;
  } 

  body {
    padding: 0;
    margin: 0;
  }
  
  .Home h1{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(20, 197, 14);
  }

  .play1 button{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display:block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
  }
  
  .play1 button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .play1{
    color: rgb(40, 201, 35);
    display: flex;
    flex-direction: column;
    font-size:20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  